@(creator: Seq[String], eventName: Seq[String], time: Seq[String])(implicit lang: Lang)
<!DOCTYPE html>
<html ng-app="Cobot">
    <head>
        <title>CoBot NoBot</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.10.4.custom.min.css")" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app/weather.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>

        <style>
          #draggable { width: 200px; height: 180px; padding: 0.5em; }
          #draggableMSECalendar { width: 700px; height: 500px; padding: 1.5em; }
          #draggableCalendar { width: 700px; height: 200px; padding: 1.5em; }
        </style>

        <script>
          $(function() {
            $( "#draggable" ).draggable();
          });

          $(function() {
            $( "#draggableMSECalendar" ).draggable();
          });

          $(function() {
            $( "#draggableCalendar" ).draggable();
          });
        </script>

    </head>
    <body ng-controller="WeatherController as Weather" >
        <div class = "weather">

          <div class = "navbar navbar-fixed-top">
            <div class = "navbar-inner">
                <h1 class="text-left">Cobot Nobot</h1>
            </div>
          </div>

    <div id="draggable" class="ui-widget-content">
            <label>Choose Measurement System</label>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="CorF" value="true" ng-model="celcius">
                        °C
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="CorF" value="false" ng-model="celcius">
                        °F
                    </label>
                </div>
            </div>

            <dl ng-show="Weather.getCelc()">
              <dt>Weather in {{weatherdata.list[0].name}}</dt>
              <dd>{{weatherdata.list[0].main.temp | number : 2}}°C, humidity: {{weatherdata.list[0].main.humidity}}%  </dd>
              <dd>Pressure: {{weatherdata.list[0].main.pressure}}</dd>
            </dl>
            <dl ng-hide="Weather.getCelc()">
              <dt>Weather in {{weatherdata.list[0].name}}</dt>
              <dd>{{weatherdata.list[0].main.temp*9/5 + 32 | number : 2}}°F, humidity: {{weatherdata.list[0].main.humidity}}%  </dd>
              <dd>Pressure: {{weatherdata.list[0].main.pressure}}</dd>
            </dl>

    </div>

    <div id="draggableCalendar" class="ui-widget-content">

        <table align="left" class="panel" width="700">

          <tr>

              <td align="left">
                <h3>Event Creator</h3>
                @creator.map { creator =>
                    <dd>@creator</dd>
                    <p>  </p>
              }</td>

              <td align="center">
                <h3>Event Name</h3>
                @eventName.map { eventName =>
                    <dd>@eventName</dd>
                    <p>  </p>
              }</td>

              <td align="right">
                <h3>Start & End Times</h3>
                @time.map { time =>
                    <dd>@time</dd>
              }</td>

          </tr>

        </table>

    </div>

    <div id="draggableMSECalendar" class="ui-widget-content">

        <iframe src="https://www.google.com/calendar/embed?src=asmgtes27669vbdibsiqd6kacs%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no"></iframe>

    </div>

    </div>

    </body>
</html>
