@(creator: Seq[String], eventName: Seq[String], time: Seq[String])(implicit lang: Lang)

@main(Messages("CoBot Calendar")) {

  <h2>CoBot Task Management</h2>

  <table align="left" class="panel" width="700">

    <tr>

        <td align="left">
          <h3>Event Creator</h3>
          @creator.map { creator =>
              <dd>@creator</dd>
              <p>  </p>
        }</td>

        <td align="center">
          <h3>Event Name</h3>
          @eventName.map { eventName =>
              <dd>@eventName</dd>
              <p>  </p>
        }</td>

        <td align="right">
          <h3>Start & End Times</h3>
          @time.map { time =>
              <dd>@time</dd>
        }</td>

    </tr>

  </table>

  <iframe src="https://www.google.com/calendar/embed?src=asmgtes27669vbdibsiqd6kacs%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no"></iframe>

}
