@(title: String)(content: Html)(implicit lang: Lang)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
        <script src="@routes.Assets.at(javascripts/angular.min.js)" ></script>
    </head>
    <body>
        <div class = "weather">

          <div class = "navbar navbar-fixed-top">
            <div class = "navbar-inner">
              <div class = "container">
                <a class = "localweather" href="@routes.Application.index()">
                  @Messages("application.name")
                </a>
              </div>
            </div>
          </div>

          <div class = "container">
            @content
          </div>
        </div>

    </body>
</html>
