<div>
      <label>Ask CoBot</label>

      <br>

      <form id="peopleForm" action="selectPerson">

        <div class="form-group">


<!--id =""-->       <select id="">
          <option value="Find">Find</option>
          <option value="Where">Where</option>
          <option value="What">What</option>
          <option value="Who">Who</option>
        </select>

        <br>


           First name: <input type="text" class="form-control" name="fname">
           Last name: <input type="text" class="form-control" name="lname">
           Event Name: <input type="text" class="form-control" name="ename">

        <center><button type="submit" class="btn btn-primary btn-sm" onclick="">Search</button></center>
</div>

       </form>


</div>
