
      <label>Ask CoBot</label>

      <br>


           <select onchange="OnSelectionChange (this)">
                <option value="Who">Who</option>
                <option value="What">What</option>
            </select>


            <span id="onscreenTip">Find a person's information</span>
		<br>

      <div id="who" style="display:block">
          <form id="peopleForm" action="selectPerson">

              <div class="form-group">
                   First name: <input type="text" class="form-control" name="fname">
                   Last name: <input type="text" class="form-control" name="lname">
              </div>
              <center><button type="submit" class="btn btn-primary btn-sm" onclick="">Search</button></center>
			<br>
			<center><font color='#B8B8B8'>Please insert first and last names</font></center>
          </form>
      </div>

      <div id="what" style="display:none">
          <form id="eventForm" action="selectEvent">
                Event name:

                <div class="form-group">

                  <button type="submit" class="btn btn-primary btn-sm" onclick="" style="float: right; height: 43px;">Search</button>
                      <input type="text" class="form-control" name="ename" style="width: 75%;">

                </div>
                <!-- <center></center> -->

          </form>

          <!-- horizontal line -->
          <hr>

          <div>Select a room to see what event is happening in it today:</div>
              <button type="button" class="btn btn-primary btn-sm" onclick="selectRoomEvent()" style="float: right; height: 43px;">Search</button>
              <select id="roomNoName" class="form-control" style="width: 75%;">
                 <option value="       ">       </option>
                 <option value="SCR_261">SCR 261</option>
                 <option value="SCR_262">SCR 262</option>
                 <option value="SCR_263">SCR 263</option>
                 <option value="SCR_281">SCR 281</option>
                 <option value="SCR_282">SCR 282</option>
                 <option value="Coach_Library">SCR Library</option>
               </select>
              <p></p>
           <center></center>


      </div>
