    <form method="post" autocomplete="on">
          <label>Select a room to see who is in it:</label>
          <br>

           <select name="roomNo">
              <option value="SCR 261">SCR 261</option>
              <option value="SCR 262">SCR 262</option>
              <option value="SCR 263">SCR 263</option>
              <option value="SCR 265">SCR 265</option>
              <option value="SCR 281">SCR 281</option>
              <option value="SCR 282">SCR 282</option>
            </select>

          <input type="submit" value="Search">
    </form>

    <dt id="room_number">Room Number</dt>
