<!--
  <label>Select a room to see who is in it today:</label>
  <br>

   <select id="roomNo">
      <option value="       ">       </option>
      <option value="SCR_261">SCR 261</option>
      <option value="SCR_262">SCR 262</option>
      <option value="SCR_263">SCR 263</option>
      <option value="SCR_281">SCR 281</option>
      <option value="SCR_282">SCR 282</option>
      <option value="Coach_Library">Coach Library</option>
    </select>

  <button type="button" onclick="selectRoomCreator()">Search</button>
-->
<!-- horizontal line -->
  <!--
  <hr>

  <div>
    <p id="event_creator"></p>
  </div>
-->
