<head>

  <script>

    $(document).ready(function() {

  		$('#calendar').fullCalendar({
  			theme: true,
        header: {
  				left: 'prev,next today',
  				center: 'title',
  				right: 'month,agendaWeek,agendaDay'
  			},
  			defaultDate: '2014-06-12',
  			selectable: true,
  			selectHelper: true,
  			select: function(start, end) {
  				var title = prompt('Event Title:');
  				var eventData;
  				if (title) {
  					eventData = {
  						title: title,
  						start: start,
  						end: end
  					};
  					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
  				}
  				$('#calendar').fullCalendar('unselect');
  			},
  			editable: true,
        eventSources: [

          // your event source
          {
              events: [ // put the array in the `events` property
                  {
                      title  : 'event1',
                      start  : '2014-06-01'
                  },
                  {
                      title  : 'event2',
                      start  : '2014-06-05',
                      end    : '2014-06-07'
                  },
                  {
                      title  : 'event3',
                      start  : '2014-06-09T12:30:00',
                  }
              ],
              color: 'black',
              textColor: 'yellow'
          },

          'https://www.google.com/calendar/feeds/v9dcr4csq0gdk4jfqq07lrtjtk%40group.calendar.google.com/public/basic'

        ]

  		});

  	});

  </script>

  <style>

    	body {
    		margin: 0;
    		padding: 0;
    		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    		font-size: 14px;
    	}

    	#calendar {
    		width: 900px auto;
    		margin: 40px auto;
    	}

  </style>

</head>

<div id='calendar'></div>
