@(form: Form[(String,String)])(implicit flash: Flash)

<html>
    <head>
        <title>Cobot Nobotics</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.css"))">
    </head>
    <body>

        @navbarLogin()

      <div class="row">
        <div class="col-md-2 col-md-offset-5">
        <div class="text-center">

            @helper.form(routes.Application.authenticate) {

                <h1>Sign in</h1>

                @form.globalError.map { error =>
                    <p class="error">
                        @error.message
                    </p>
                }

                @flash.get("success").map { message =>
                    <p class="success">
                        @message
                    </p>
                }

                <div class="form-group">
                    <p>
                        <input class="form-control" type="email" name="email" placeholder="Email" id="email" value="@form("email").value" required autofocus>
                    </p>
                    <p>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                    </p>
                    <p>
                        <button class="btn btn-success" type="submit" id="loginbutton">Login</button>
                    </p>
                </div>

            }

            <p class="note">
                Try <em>CEO@@cobot.com</em> with <em>supersecret</em> as password.
            </p>


        </div>
        </div>
      </div>

            <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>

          <!-- Latest compiled and minified JavaScript -->
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.js"))"></script>


    </body>
</html>
