@(title: String)(implicit name: String)
<!DOCTYPE html>

<html ng-app="Cobot">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.css"))">

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("gridster.js", "jquery.gridster.min.css"))">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/gridstyles.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))"></script>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))"></script>
	    <![endif]-->

    </head>
    <body>

    	<!-- Fixed navbar -->
	    @navbar(name)
    <div class="widgetry">
      <div class="gridster">
        <ul>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h1>HELLO</h1></li>
          <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h1>WORLD</h1></li>
          <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h1>OR ELSE<h1></li>
          <li data-row="2" data-col="4" data-sizex="3" data-sizey="2" ng-controller="WeatherController as Weather">
              @views.html.weather()
          </li>
          <li data-row="1" data-col="4" data-sizex="1" data-sizey="2"></li>
        </ul>
      </div>
    </div>


        <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>

	    <!-- Latest compiled and minified JavaScript -->
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.js"))"></script>

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs", "angular.min.js"))"></script>

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("gridster.js", "jquery.gridster.min.js"))"></script>

    <script type="text/javascript">
      var gridster;

      $(function() {
          gridtster = $(".gridster > ul").gridster({
              widget_margins: [10, 10],
              widget_base_dimensions: [140, 140],
              min_cols: 6
          }).data('gridster');
      });
    </script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/weather.js")"></script>

    </body>
</html>
