@(title: String)(implicit name: String)
<!DOCTYPE html>

<html ng-app="Cobot">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.css"))">

		@* Optional theme *@
		@* <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap", "bootstrap-theme.min.css"))"> *@

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))"></script>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))"></script>
	    <![endif]-->


    <style>
      #draggable { width: 200px; height: 140px; padding: 0.5em; }
    </style>

    </head>
    <body>

    	<!-- Fixed navbar -->
	    @navbar(name)



    <div id="draggable" class="ui-widget-content" ng-controller="WeatherController as Weather">
        @views.html.weather()
    </div>







	    <div id="footer">
	      <div class="container">
          <div class="text-center">
			         <p class="text-muted">Because we can.</p>
          </div>
		</div>
	    </div>

        <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>

	    <!-- Latest compiled and minified JavaScript -->
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.js"))"></script>

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs", "angular.min.js"))"></script>


    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/weather.js")"></script>

    </body>
</html>
