<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">CoBot Nobotics</a>
  </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/kirillseva/NoBot">Check our github! </a></li>
    </ul>
</div>
