<div>
<!--    <form method="post/" action="/selectLocation" autocomplete="on"> -->
          <label>Find person location</label>
          <br>


		<div class="form-group">
 		<form name="input" action="/selectLocation" method="post">
		First name: <input type="text" class="form-control" name="loc_fname">
		Last name: <input type="text" class="form-control" name="loc_lname">
		</div>
		<center><button type="submit" class="btn btn-primary btn-sm" onclick="">Find</button></center>


</form>

   </div>

    <dl>
      <dd id="person_office">Office:</dd>
      <dd id="Person_phone"> Phone: </dd>
    </dl>