@()(implicit widgets: Seq[Widget])

<div class="gridster">
  <ul>
    @for(widget<-widgets){
      <li id=@widget.id style="border: 1px solid #2c3e50;" data-row=@widget.row data-col=@widget.col data-sizex=@widget.size_x data-sizey=@widget.size_y>
        @widget.id match {
          case "weather" => {
            @views.html.weather()
          }
          case "map" => {
            @views.html.map()
          }
          case "calendarEventQuery" => {
            @views.html.calendarEventQuery()
          }
          case "calendarEventNameQuery" => {
            @views.html.calendarEventNameQuery()
          }
          case "ShowPersonData" => {
            @views.html.ShowPersonData()
          }
          case "ShowPersonLocation" => {
            @views.html.ShowPersonLocation()
          }
          case _ => {
            <h1>@widget.id</h1>
          }
        }
      </li>
    }
  </ul>
</div>
